@font-face {
    font-family: 'TBCX';
    src: url('path/to/TBCX.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    color: #555f62;
    font-family: 'TBCX', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    background-color: #f9fafa;
    gap: 2rem;
}
html {
    font-size: 62.5%;
}
button{
    font-family: 'TBCX', sans-serif;
}
header {
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: #fff;
    height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1.5rem;
    justify-content: space-between;
    min-width: 35.5rem;
    border-bottom: 0.1rem solid rgb(222, 220, 220);
}
.headerBtn-click{
    display: none;
    top: 0;
    z-index: 102;
    background-color: #f9fafa;
    flex-direction: column;
    padding-top: 80px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.contactss{
    padding: 3.2rem 1.5rem;
}
.contactss h2{
    font-family: 'TBCX', sans-serif;
    font-size: 1.6rem;
    color: #000;
}
.footer-contacts{
    gap: 3rem;
    margin-bottom: 5rem;
}

.close{
    transition: opacity 0.5s ease, visibility 0.5s ease;
    display: none;
    width: 3.6rem;
    height: 3.2rem;
}
.headers-divs{
    height: 100%;
    grid-column-gap: 3.2rem;
    flex: 1;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
    display: none;
}
.headers-divs div{
    font-size: 1.4rem;
    gap: 1rem;
}
.tbcGrey {
    display: block;
    width: 3.6rem;
    height: 3.2rem;
    cursor: pointer;
}
.tbcGrey2{
    display: none;
}
.headerBtn2{
    height: 36px;
    grid-column-gap: 4px;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 700;
    transition: background-color .25s ease-in-out;
    display: flex;
}
.search {
    width: 2.5rem;
    height: 2.5rem;
    fill: currentColor;
    transition: fill 0.3s;
    margin-top: 0.3rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

.search:hover {
    fill: #3295ce;
}

.arrow {
    fill: #182cc0;
    width: 1.7rem;
    height: 1.6rem;
}


.arrow-order {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
    gap: 0.6rem;
}

.arrow-order:hover .arrow {
    fill: #3295ce;
}

.arrow-order:hover .order {
    color: #3295ce;
}

.headerBtn {
    transition: opacity 0.5s ease, visibility 0.5s ease;
    display: flex;
    width: 3.6rem;
    height: 3.2rem;
}
.headerBtn2{
    height: 36px;
    grid-column-gap: 4px;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 700;
    transition: background-color .25s ease-in-out;
    /* display: flex; */
    display: none;
}
.headerBtn2 div{
    font-family: TBCX, sans-serif;
    font-size: 1.4rem;
}

.arrow-order p {
    font-weight: 700;
    line-height: 1.4;
    color: #182cc0;
    text-transform: uppercase;
    font-size: 1.2rem;
}
header div {
    display: flex;
}


/* Starting main's styles */

.back {
    height: 8rem;
    display: flex;
    align-items: center;
    padding: 0 1.5rem 1rem;
}

.back span {
    color: #141719;
    font-weight: 500;
    line-height: 1.7;
    font-size: 1.2rem;
}
.back-arrow{
    display: block;
}
.menu-trigger {
    position: fixed;
    z-index: 1000;
    bottom: 1.6rem; 
    right: 1.6rem; 
    width: 5.6rem;
    height: 5.6rem;
    color: #fff;
    cursor: pointer;
    background-color: #424a4d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    transition: background-color .25s ease-in-out;
}

.menu-trigger:hover {
    background-color: #555; 
}
.menu-buttons{
    margin-bottom: 20rem;

    display: none;
    grid-row-gap: 1.2rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* display: flex; */
    position: fixed;
    padding-bottom: 6.8rem;
}
.button-menu_button {
    color: #333;
    width: 5.6rem;
    height: 5.6rem;
    cursor: pointer;
    background-color: #fff;
    border: 0.1rem solid #eef1f1;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    transition: background-color .25s ease-in-out;
    display: flex;
}
.banner {
    min-height: 36rem;
    position: relative;
    padding: 17.2rem 1.5rem 2rem;
    background-image: url("./images/download.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    content: '';
    z-index: 1; 
    top: 0;
}

.bannerInner {
    position: relative; 
    z-index: 2; 
    color: white; 
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 2rem;
}


.banner h2 {
    color: #fff;
    font-size: 1.6rem;
}

.banner p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
}

.banner button {
    cursor: pointer;
    transition: opacity .25s ease-in-out;
    text-transform: uppercase;
    width: 100%;
    height: 5rem;
    border: none;
    border-radius: 0.6rem;
    background-color: #182cc0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.banner button:hover {
    background-color: #3295ce;
    transition: color 0.5s;
}

.message {
    margin-top:3rem ;
    padding: 5rem 1.5rem 5rem;
}

.message p {
    font-size: 2.4rem;
    color: #141719;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'TBCX', sans-serif;
}

.choose {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
}

.choose h2 {
    margin-left: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #141719;
}

.cards-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    padding: 3rem 1.5rem;
    width: 100%;
    display: flex;
    gap: 1.5rem;
    scroll-snap-type: x mandatory;
}

.card {
    position: relative; 
    flex: 0 0 28rem;
    height: 23.2rem;
    cursor: pointer;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    color: white;
    padding-top: 14rem;
    align-items: flex-start;
    scroll-snap-align: start;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1; 
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}

.card > * {
    position: relative;
    z-index: 2;
}




.card:hover {
    transform: scale(1.01); 
}

.card div {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card h3 {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 3rem;
}

.card div a {
    color: white;
    font-size: 1.2rem;
}

.digitali.card {
    background-image: url("./images/digital.png");
}

.middle {
    background-image: url("./images/download-8.png");
}

.premium {
    background-image: url("./images/premium.png");
}

/* ended choose collect section  */
.number-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3.6rem 1.5rem;
    gap: 2rem;
}

.item {
    position: relative;
    padding: 4rem 4.8rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}
.item div{
    display: flex;
    
}

.item p {
    color: #141719;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.3;
}

.item span {
    color: #555f62;
    background-color: white;
    font-family: TBCX, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
}

.offers {
    margin-top: 3.6rem;
    padding: 0 1.5rem;
}
.allOffer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.allOffer svg {
    fill: #182cc0;
    width: 1.6rem;
    height: 1.6rem;
}

.allOffer span {
    color: #182cc0;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4;
}
/* ended number-data */
/* 







.offers-wrap {

    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    scroll-snap-type: x mandatory;
}
.offers-wrap div{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.offers-wrap .item {
    flex: 0 0 280px; 
    height: 400px; 
    cursor: pointer;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
   flex-direction: row;
    justify-content: flex-end;
    padding: 1rem 0;
    scroll-snap-align: start;
}

.offers-wrap .item img {
    margin-bottom: 1rem;
    width: 7.8rem;
    height: 5.6rem;
}

.offers-wrap .item:hover {
    transform: scale(1.01); 
} */
/* .slider-container {
    width: 100%;
  }
  
  .slider {
    display: flex;
    gap: 1rem;
    overflow-x: hidden;
    cursor: grab;
  }
  
  .slider:active {
    cursor: grabbing;
  }
  
  .slide {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    min-width: 25rem;
    height: 15rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .indicator-container {
    margin-top: 1rem;
    width: 100%;
    height: 0.4rem;
    background-color: gray;
  }
  
  .indicator {
    height: 100%;
    width: 20%;
    background-color: blue;
    position: relative;
    left: 0;
  }
  
 .slide-header{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
    display: flex;
    margin-bottom: 20px;
 }
 .slide-header h2{
    color: #141719;
 } */


/* !!!!!!!!!!!!!!!!! */
.slider-container {
    width: 100%;
  }
  .slide-card{
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border: 0.1rem solid #e1e4e5;
    height: 100%;
  }
  .slider {
    display: flex;
    gap: 1rem;
    overflow-x: hidden;
    cursor: grab;
  }
  
  .slider:active {
    cursor: grabbing;
  }
  
  .slide {
    
    min-width: 25rem;
    height: 15rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .indicator-container {
    margin-top: 1rem;
    width: 100%;
    height: 0.4rem;
    background-color: gray;
  }
  
  .indicator {
    height: 100%;
    width: 20%;
    background-color: blue;
    position: relative;
    left: 0;
  }
  
  .slide-header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.6rem;
    display: flex;
    margin-bottom: 2rem;
  }
  
  .slide-header h2 {
    color: #141719;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .slide {
      min-width: 20rem;
    }
    }  

.investment {
    display: flex;
    flex-direction: row;
    background-image: url("https://static.tbcconcept.ge/desktop/media/sohqmh0p.mff350x212_1%201.png");
}

.iveria {
    background-image: url("./images/iveria.jpg");
}

.tegeta {
    background-image: url("./images/download-10.png");
}

.tegetaBt {
    background-image: url("./images/download-3.png");
}

.LeMeridian {
    background-image: url("./images/download-4.png");
}

.Colosseum {
    background-image: url("./images/download-6.png");
}
.mini{
    position: absolute;
    background: white;
    border-top-left-radius: 0.8rem; 
    border-bottom-left-radius: 0.8rem; 
}

.description{
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem; 
    margin-bottom: auto;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
    /* height: 100%; */
  
}
.description div{
    max-width: 32rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;

}
 .description-string{
    display: flex;
    flex-direction: row;
 }

.description span{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    text-wrap: wrap;
}
.description h3{
    max-width: 27.3rem;
    
    color: #141719;
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 3rem;
}
.description p {
    font-size: 1.2rem;
    color: #555f62;
    line-height: 1.6rem; 
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.digital-bank {
    background-color: white;
    grid-row-gap: 2.8rem;
    padding: 3.2rem 1.5rem;
}

.digital-bank h2 {
    margin-bottom: 2.5rem;
    color: #141719;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
}

.digital{
    order: 2;
    display: flex;
    flex-direction: column;
}


.digital-bank img {
    max-width: 37rem;
    max-height: 48rem;
}

.digital-description{
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.digital-description p {
    font-family: TBCX, sans-serif;
    color: #555f62;
    font-size: 1.4rem;
    line-height: 2.5rem;
}

.digital-button {
    width: 100%;
    background: #f9fafa;
    border: 0.1rem solid #182cc0;
    border-radius: 0.4rem;
    justify-content: center;
    padding: 1.6rem 3.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.33;
    align-items: center;
    display: flex;
    gap: 0.5rem;
}   
.digital-button a{
    text-decoration: none;
    color: #182cc0;
}
.digital-button:hover{
    border-color: #e1e4e5;
}
.products {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    gap: 2rem;
    scroll-snap-type: x mandatory;
    padding: 1.5rem;
    -webkit-overflow-scrolling: touch; 
}


.products-wrap {
    flex-direction: column;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 3.6rem 1.5rem;
    width: 100%;
    scroll-snap-type: x mandatory;
}


.products-wrap h2 {
    margin-top: 2rem; 
    color: black;
}

/* Product Card */
.product-card {
    flex-shrink: 0;
    width: 15rem; 
    display: flex;
    flex-direction: column;
    border: 0.1rem solid #e1e4e5;
    border-radius: 0.8rem;
    scroll-snap-align: start;
    background-color: white; 
    overflow: hidden; 
    
}

.product-card img {
    width: 100%; 
    height: auto; 
}

.private-banker {
    min-height: 36rem;
    position: relative;
    padding: 17.2rem 1.5rem 2rem;
    background-image: url("./images/download-9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.private-banker::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    z-index: 1; 
}

.private-bankerInner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 2rem;
} 

.private-banker h2 {
    position: relative;
    z-index: 2;
    color: white; 
    color: #fff;
    font-size: 1.6rem;
}

.private-banker p {
    position: relative;
    z-index: 2; 
    color: white; 
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
}

.private-banker button {
    cursor: pointer;
    transition: opacity .25s ease-in-out;
    text-transform: uppercase;
    position: relative;
    z-index: 2; 
    color: white; 
    width: 100%;
    height: 5rem;
    border: none;
    border-radius: 0.6rem;
    background-color: #182cc0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.private-banker button:hover {
    background-color: #3295ce;
    transition: color 0.5s;
}


.rewards {
    margin-bottom: 3.6rem;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    gap: 2rem;
    scroll-snap-type: x mandatory;
    padding: 1.5rem;
    -webkit-overflow-scrolling: touch; 
}


.rewards-wrap {
    margin-top: 5rem;
    flex-direction: column;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding: 3.6rem 1.5rem;
    width: 100%;
    scroll-snap-type: x mandatory;
}

.rewards-wrap h2 {
    color: black;
}
.rewards-card{
    height: fit-content;
    align-items: flex-start;
    padding: 2.8rem;
    flex-shrink: 0;
    width: 100%; 
    display: flex;
    flex-direction: column;
    border: 0.1rem solid #e1e4e5;
    border-radius: 0.8rem;
    scroll-snap-align: start;
    background-color: white; 
    overflow: hidden; 
}

.rewards-card img {
    max-width: 100%;
    width: auto; 
    height: 5.2rem; 
}


/* starting footer  */

.footer-top{
    padding: 3.2rem 1.5rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #d1d5d6;
}
.footer-top div{
    gap: 0.2rem;
    display: flex;
    align-items: center;
    border: 0.1rem solid #d1d5d6;

}


.question-div {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    cursor: pointer;
    border-bottom: 0.2rem solid black;
    box-sizing: border-box;
    border-bottom: 0.1rem solid #d1d5d6;
}
.question-div a{
    font-size: 1.6rem;
    color:#141719;
    font-weight: 700;
}

.question-div-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.answer {
    margin-top: 3rem;
    display: none;
}

.active .answer {
    display: block;
}

.active .question {

    font-weight: bold;
}

.active .arrow {
    transform: rotate(180deg);
}

.lang-toggle{
    display: flex;
    width: 7.2rem;
    height: 4rem;
    background-color: #f9fafa;
padding: 1.2rem;
    gap: 0.4rem;
    border-radius: 0.4rem;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: none;
}
.lang-toggle svg{
    width: 1.6rem;
    height: 1.6rem;
}
.lang-toggle div{
    border: none;
    font-size: 1.4rem;
}
.question-div .arrow{
    width: 2.8rem;
    height: 2.9rem;
    fill: none;
}
.answers{
    padding: 1,5rem 0;
    display: flex;
    padding-right: 1.5rem;
    flex-direction: column;
    font-size: 1.4rem;
    line-height: 1.7;
}
.contacts{
    display: block;
    padding: 3.2rem 1.5rem;
}
.footer-contacts{
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.footer-contacts a{
    cursor: pointer;
    font-weight: 500;
    font-size: 1.4rem;
    gap: 1rem;
    height: 2rem;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}
.contacts h2{
    color: #141719;
}
.contacts h3{
    color: #141719;
    margin-top: 5rem;
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
    font-weight: 700;
    line-height: 1.7;
}
.footer-social-list{
    display: flex;
    flex-direction: row;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-wrap: wrap;
    display: flex;
}
.footer-social-list a{
    color: inherit;
    font-size: inherit;
    width: 5.2rem;
    height: 5.2rem;
    background-color: #f9fafa;
    border-radius: 0.6rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.footer-bottom{
    padding: 2.4rem 1.5rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    background-color: #f9fafa;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
    font-size: 1.4rem;
    border-top: 0.1rem solid #eef1f1;
}
.footer-bottom-logo svg{
    width: 2.1rem;
    height: 3.2rem;
}
.footer-bottom-links{
    flex-wrap: wrap;
    grid-row-gap: 8px;
    grid-column-gap: 3rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}
.footer-bottom-links span{
    color: #555f62;
    cursor: pointer;
}
.footer-bottom-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.accordion{
    display: block;
}
.footer-tab-main{
    font-family: 'TBCX', sans-serif;
  padding: 0 4.5rem 4.5rem;
    display: none;
    justify-content: space-between;
}
.child{
    font-family: 'TBCX', sans-serif;
    color: #555f62;
    font-family: TBCX, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
}
.child .h{
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
}
.child a{
    text-decoration: none;
    color: inherit;
}
.footer-tab-main .child{
    gap: 2rem;
   max-width: 15.5rem;
}
.footer-tab-main.footer-social-list{
    display: flex;
    flex-direction: row;
}
.footer-tab-top{
    display: none;
    justify-content: space-between;
    padding: 4.5rem 4.5rem 5rem;
}
.footer-tab-top svg {
    color: black;
}
.lang-btn{
    font-size: 1.4rem;
    font-weight: bold;
    width: 7.2rem;
    height: 4rem;
    grid-column-gap: 4px;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 700;
    transition: background-color .25s ease-in-out;
    display: flex;

}
.lang-btn svg{
    width: 1.6rem;
    height: 1.9rem;
}
/* Responsive Styles */
@media screen and (max-width: 1440px) {
    .product-card {
        width: 100%; 
    }
}
@media only screen and (min-width: 480px ){
   header{
    padding: 0 4.5rem;
   }
   .arrow-order p{
    margin: 2px 0 0;
    font-size: 1.4rem;
   }
   .banner{
    padding: 24rem 4.5rem 3.6rem;
   }
 
   .banner h2{
    font-size: 2.4rem;
    font-weight: bold;
   }
   .back{
    padding: 2.4rem 4.5rem;
   }
   .back-arrow{
    display: none;
   }
   .message{
    padding: 4rem 4.5rem 0;
   }
   .message p{
    font-size: 3.2rem;
   }
   .choose{
    padding: 0 4.5rem;
   }
   .choose h2{
    font-size: 2.4rem;
   }
   .footer-top{
    padding: 3.6rem 4.5rem;
   }
   .question-div{
    padding: 3.6rem 4.5rem;
   }
   .question-div a{
    font-size: 2.4rem;
   }
   .answers{
    margin-top: 2rem;
   }
   .answer{
   
    font-size: 1.6rem;
   }
 
   .digital-content h2{
    font-size: 2.4rem;
   }
   .digital-bank{
    padding: 3.2rem 4.5rem;
   }
   .products-wrap h2{
    font-size: 2.4rem;
    font-weight: 700
   }
   .contacts{
    padding: 5.6rem 4.5rem;
   }
   .contacts h2{
     font-size: 2.4rem;
   }
   .contacts h3{
    font-size: 2.4rem;
  }
  .footer-bottom {
    padding: 3.6rem 4.5rem;
  }
.products-wrap{
    padding: 3.6rem 4.5rem;
}
.number-data{
    padding: 3.6rem 4.5rem;
}
.number-data span{
    font-size: 1.6rem;
}
.offers{
    padding: 3.6rem 4.6rem;
}
.offers h2{
font-size: 2.4rem;
}
.offers span{
    font-size: 1.6rem;
    }
 .rewards-wrap{
        padding: 3.6rem 4.5rem;
    } 
  .rewards-wrap h2{
        font-size: 2.4rem;
    }
    .private-banker{
        padding: 24rem 4.5rem 3.6rem;
    }
    .private-banker h2{
        font-size: 2.4rem;
    }
}
@media only screen and (min-width: 768px ){
.tbcGrey{
    display: none;
}
.tbcGrey2{
    display: flex;
}
.banner-section{
    padding: 0 4.5rem;
   
}
.banner{
 border-radius: 0.6rem;
}
.banner::before{
  border-radius: 0.6rem;
}
.digital{
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 10rem;
}
.digital img{
    width: 21rem;
    height: 27rem;
}
.digital-description{
    margin-top: 12rem;
}
.digital button{
    width: 16rem;
    height: 5.2rem;
}
.digital-content h2{
    position: absolute;
    margin-top: 5rem;
}
.banner button{
    width: 15.1rem;
}
.banner p{
    max-width: 45rem;
}
.banker-section{
    padding: 0 4.5rem;
}
.private-banker{
    border-radius: 0.6rem;
}
.private-banker::before{
    border-radius: 0.6rem;
}
.private-banker button{
    width: 13.3rem;
}
.accordion{
    display: none;
}
.contacts{
    display: none;
}
.footer-social-list{
    gap: 1rem;
}
.footer-tab-main{
    display: flex;
}
.footer-tab-top{
    display: flex;
}
.footer-bottom{
    padding: 2.8rem 4.5rem;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.footer-bottom span{
font-size: 1.2rem;

}
.footer-bottom{
    font-size: 1.2rem;
}
.footer-bottom svg{
    width: 2.1rem;
    height: 3.2rem;
}

}
@media only screen and (min-width:992px ){
    .header{
        padding: 0 4.7rem;
    }
    .headerBtn{
        display: none;
    }
    .headerBtn2{
        display: flex;
    }
    .headers-divs{
        display: flex;
    }
   .banner{
    padding: 8rem;
   }
}