@font-face {
    font-family: 'TBCX';
    src: url('path/to/TBCX.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    color: #555f62;
    max-width: 111rem;
    font-family: 'TBCX', sans-serif;
}

html {
    font-size: 62.5%;
}

header {
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: #fff;
    height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1.5rem;
    justify-content: space-between;
    min-width: 35.5rem;
    border-bottom: 0.1rem solid rgb(222, 220, 220);
}

.tbcGrey {
    width: 3.6rem;
    height: 3.2rem;
    cursor: pointer;
}

.search {
    width: 2.5rem;
    height: 2.5rem;
    fill: currentColor;
    transition: fill 0.3s;
    margin-top: 0.3rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

.search:hover {
    fill: #3295ce;
}

.arrow {
    fill: #182cc0;
    width: 1.7rem;
    height: 1.6rem;
}

.arrow-order p {
    color: currentColor;
}

.arrow-order {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
    gap: 0.6rem;
}

.arrow-order:hover .arrow {
    fill: #3295ce;
}

.arrow-order:hover .order {
    color: #3295ce;
}

.headerBtn {
    width: 3.6rem;
    height: 3.2rem;
}

.arrow-order p {
    font-weight: 500;
    line-height: 1.4;
    color: #182cc0;
    text-transform: uppercase;
    font-size: 1.2rem;
}

header div {
    display: flex;
}

main {
    background-color: #f9fafa;
}

/* Starting main's styles */

.back {
    height: 8rem;
    display: flex;
    align-items: center;
    padding: 0 1.5rem 1rem;
}

.back span {
    color: #141719;
    font-weight: 500;
    line-height: 1.7;
    font-size: 1.2rem;
}

.banner {
    min-height: 36rem;
    position: relative;
    padding: 17.2rem 4rem 2rem;
    height: 40rem;
    background-image: url("./images/download.webp");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bannerInner {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 2rem;
}

.banner h2 {
    color: #fff;
    font-size: 1.6rem;
}

.banner p {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
}

.banner button {
    transition: background-color 0.5s ease;
    width: 100%;
    height: 5rem;
    border: none;
    border-radius: 0.6rem;
    background-color: #182cc0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.banner button:hover {
    background-color: #3295ce;
    transition: color 0.5s;
}

.message {
    padding: 6rem 1.5rem 0;
}

.message p {
    font-size: 2.4rem;
    color: #141719;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'TBCX', sans-serif;
}

.choose {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
}

.choose h2 {
    margin-left: 1rem;
    margin-top: 5rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #141719;
}

.cards-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem;
    width: 100%; 
    display: flex;
    gap: 1rem;
    scroll-snap-type: x mandatory;
}

.card {
    flex: 0 0 280px; 
    height: 232px; 
    cursor: pointer;
    border-radius: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem; 
    color: white; 
    padding-top: 14rem;
    align-items: flex-start;
    scroll-snap-align: start;
}

.card:hover {
    transform: scale(1.01); 
}

.card div {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card h3 {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 3rem;
}

.card div a {
    color: white;
    font-size: 1.2rem;
}

.digital.card {
    background-image: url("./images/digital.png");
}

.middle {
    background-image: url("./images/download-8.png");
}

.premium {
    background-image: url("./images/premium.png");
}

/* ended choose collect section  */
.number-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    gap: 2rem;
}

.item {
    padding: 4rem 4.8rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
}

.item p {
    color: #141719;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.3;
}

.item span {
    color: #555f62;
    background-color: white;
    font-family: TBCX, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
}

/* ended number-data */
.offers {
    padding: 0 1.5rem;
}

.offers div {
    display: flex;
    justify-content: space-between;
}

.offers div h2 {
    margin-left: 1rem;
    color: #141719;
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 700;
}

.allOffer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.allOffer svg {
    fill: #182cc0;
    width: 1.6rem;
    height: 1.6rem;
}

.allOffer span {
    color: #182cc0;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4;
}

.offers-wrap {
    overflow-x: auto;
    white-space: nowrap;
    padding: 1rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    scroll-snap-type: x mandatory;
}

.offers-wrap .item {
    flex: 0 0 280px; 
    height: 400px; 
    cursor: pointer;
    border-radius: 0.8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    scroll-snap-align: start;
}

.offers-wrap .item img {
    margin-bottom: 1rem;
    width: 7.8rem;
    height: 5.6rem;
    border-radius: 0.8rem;
}

.offers-wrap .item:hover {
    transform: scale(1.01); 
}

.investment {
    background-image: url("https://static.tbcconcept.ge/desktop/media/sohqmh0p.mff350x212_1%201.png");
}

.iveria {
    background-image: url("./images/iveria.jpg");
}

.tegeta {
    background-image: url("./images/download-10.png");
}

.tegetaBt {
    background-image: url("./images/download-3.png");
}

.LeMeridian {
    background-image: url("./images/download-4.png");
}

.Colosseum {
    background-image: url("./images/download-6.png");
}

.digital-bank {
    grid-row-gap: 2.8rem;
    padding: 0 4.5rem;
}

.digital-bank h2 {
    color: #141719;
    margin-top: 0;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
}

.digital-bank div {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    width: 100%;
}

.digital-bank img {
    width: 37rem;
    height: 48rem;
}

.digital-bank p {
    font-size: 1.4rem;
    line-height: 2.5rem;
}

.digital-bank button {
    color: #182cc0;
    text-transform: uppercase;
    border: 0.1rem solid #182cc0;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 3.2rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.33;
    text-decoration: none;
}

.cover {
    position: relative;
}

.miniImage {
    position: absolute;
    width: 7.8rem;
    height: 5.6rem;
}